.option {
  display: inline-block;
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-open-sans);
  color: #000;
  background: #eaeef7;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition-property: color, background, box-shadow;
  transition-duration: 0.3s;
}

.option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.option:hover {
  color: #fff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.option:hover::before {
  opacity: 1;
}

.option:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
