.wrapper {
  display: flex;
  max-width: var(--max-content-width);
  padding: 20px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-text-main);

  &WithDescription {
    text-align: center;
  }
}

.description {
  font-size: 18px;
  font-weight: 700;
  color: var(--c-text-main);
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
